In [ ]:
!sudo apt-get install -y fonts-nanum  
!sudo fc-cache -fv                   
!rm ~/.cache/matplotlib -rf

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'sudo apt autoremove' to remove it.
The following NEW packages will be installed:
  fonts-nanum
0 upgraded, 1 newly installed, 0 to remove and 49 not upgraded.
Need to get 9,604 kB of archives.
After this operation, 29.5 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/universe amd64 fonts-nanum all 20170925-1 [9,604 kB]
Fetched 9,604 kB in 1s (17.3 MB/s)
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76, <> line 1.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package fonts-nanum.
(Reading database ... 155639 files and directories currently installed.)
Preparing to unpack .../fonts-nanum_20170925-1_all.deb ...
Unpacking fonts-nanum (20170925-1) ...
Setting up fonts-nanum (20170925-1) ...
Processing triggers for fontconfig (2.12.6-0ubuntu2) ...
/usr/share/fonts: caching, new cache contents: 0 fonts, 1 dirs
/usr/share/fonts/truetype: caching, new cache contents: 0 fonts, 3 dirs
/usr/share/fonts/truetype/humor-sans: caching, new cache contents: 1 fonts, 0 dirs
/usr/share/fonts/truetype/liberation: caching, new cache contents: 16 fonts, 0 dirs
/usr/share/fonts/truetype/nanum: caching, new cache contents: 10 fonts, 0 dirs
/usr/local/share/fonts: caching, new cache contents: 0 fonts, 0 dirs
/root/.local/share/fonts: skipping, no such directory
/root/.fonts: skipping, no such directory
/var/cache/fontconfig: cleaning cache directory
/root/.cache/fontconfig: not cleaning non-existent cache directory
/root/.fontconfig: not cleaning non-existent cache directory
fc-cache: succeeded

In [ ]:
#런타임 다시 시작

In [ ]:
import  matplotlib 
import  matplotlib.font_manager  as fm
import  matplotlib.pyplot  as plt


print('◎ matplotlib version : ', matplotlib.__version__)
print()


sys_font  = fm.findSystemFonts ( )

[ font  for  font  in  sys_font  if  "Nanum"  in font ]

◎ matplotlib version :  3.2.2

['/usr/share/fonts/truetype/nanum/NanumGothicBold.ttf',
 '/usr/share/fonts/truetype/nanum/NanumSquareRoundB.ttf',
 '/usr/share/fonts/truetype/nanum/NanumMyeongjo.ttf',
 '/usr/share/fonts/truetype/nanum/NanumSquareRoundR.ttf',
 '/usr/share/fonts/truetype/nanum/NanumSquareB.ttf',
 '/usr/share/fonts/truetype/nanum/NanumBarunGothic.ttf',
 '/usr/share/fonts/truetype/nanum/NanumGothic.ttf',
 '/usr/share/fonts/truetype/nanum/NanumSquareR.ttf',
 '/usr/share/fonts/truetype/nanum/NanumMyeongjoBold.ttf',
 '/usr/share/fonts/truetype/nanum/NanumBarunGothicBold.ttf']

In [ ]:
font_path = "/usr/share/fonts/truetype/nanum/NanumGothicBold.ttf"

font_name  = fm.FontProperties(fname=font_path, size=12).get_name( )

print("◎ 폰트 이름 : ",font_name)

plt.rc("font", family= font_name)      

fm._rebuild( )

◎ 폰트 이름 :  NanumGothic

In [ ]:
import numpy as np                  
import pandas as pd          
from collections import Counter

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
# 2022년 1월 기준  top 1000 highest grossing holywood films 읽어오기

df = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/웹과텍스트마이닝기말프로젝트/Highest Holywood Grossing Movies.csv')

In [ ]:
df.shape

(918, 11)

In [ ]:
#상위 10개 영화 확인

df.head(10)

,Unnamed: 0,Title,Movie Info,Distributor,Release Date,Domestic Sales (in $),International Sales (in $),World Sales (in $),Genre,Movie Runtime,License
0,0,Star Wars: Episode VII - The Force Awakens (2015),"As a new threat to the galaxy rises, Rey, a de...",Walt Disney Studios Motion Pictures,"December 16, 2015",936662225,1132859475,2069521700,"['Action', 'Adventure', 'Sci-Fi']",2 hr 18 min,PG-13
1,1,Avengers: Endgame (2019),After the devastating events of Avengers: Infi...,Walt Disney Studios Motion Pictures,"April 24, 2019",858373000,1939128328,2797501328,"['Action', 'Adventure', 'Drama', 'Sci-Fi']",3 hr 1 min,PG-13
2,2,Avatar (2009),A paraplegic Marine dispatched to the moon Pan...,Twentieth Century Fox,"December 16, 2009",760507625,2086738578,2847246203,"['Action', 'Adventure', 'Fantasy', 'Sci-Fi']",2 hr 42 min,PG-13
3,3,Black Panther (2018),"T'Challa, heir to the hidden but advanced king...",Walt Disney Studios Motion Pictures,NaN,700426566,647171407,1347597973,"['Action', 'Adventure', 'Sci-Fi']",2 hr 14 min,NaN
4,4,Avengers: Infinity War (2018),The Avengers and their allies must be willing ...,Walt Disney Studios Motion Pictures,NaN,678815482,1369544272,2048359754,"['Action', 'Adventure', 'Sci-Fi']",2 hr 29 min,NaN
5,5,Spider-Man: No Way Home (2021),"With Spider-Man's identity now revealed, Peter...",Sony Pictures Entertainment (SPE),NaN,675813257,868642706,1544455963,"['Action', 'Adventure', 'Fantasy', 'Sci-Fi']",2 hr 28 min,NaN
6,6,Titanic (1997),A seventeen-year-old aristocrat falls in love ...,Paramount Pictures,"December 19, 1997",659363944,1542283320,2201647264,"['Drama', 'Romance']",3 hr 14 min,PG-13
7,7,Jurassic World (2015),"A new theme park, built on the original site o...",Universal Pictures,"June 10, 2015",652385625,1018130819,1670516444,"['Action', 'Adventure', 'Sci-Fi']",2 hr 4 min,PG-13
8,8,The Avengers (2012),Earth's mightiest heroes must come together an...,Walt Disney Studios Motion Pictures,"April 25, 2012",623357910,895457605,1518815515,"['Action', 'Adventure', 'Sci-Fi']",2 hr 23 min,PG-13
9,9,Star Wars: Episode VIII - The Last Jedi (2017),The Star Wars saga continues as new heroes and...,Walt Disney Studios Motion Pictures,"December 13, 2017",620181382,712517448,1332698830,"['Action', 'Adventure', 'Fantasy', 'Sci-Fi']",2 hr 32 min,PG-13

In [ ]:
#장르가 SF영화인 행만 추출

df_sf = df[df['Genre'].str.contains('Sci-Fi')]
df_sf.shape

(228, 11)

In [ ]:
df_sf.head(5)

,Unnamed: 0,Title,Movie Info,Distributor,Release Date,Domestic Sales (in $),International Sales (in $),World Sales (in $),Genre,Movie Runtime,License
0,0,Star Wars: Episode VII - The Force Awakens (2015),"As a new threat to the galaxy rises, Rey, a de...",Walt Disney Studios Motion Pictures,"December 16, 2015",936662225,1132859475,2069521700,"['Action', 'Adventure', 'Sci-Fi']",2 hr 18 min,PG-13
1,1,Avengers: Endgame (2019),After the devastating events of Avengers: Infi...,Walt Disney Studios Motion Pictures,"April 24, 2019",858373000,1939128328,2797501328,"['Action', 'Adventure', 'Drama', 'Sci-Fi']",3 hr 1 min,PG-13
2,2,Avatar (2009),A paraplegic Marine dispatched to the moon Pan...,Twentieth Century Fox,"December 16, 2009",760507625,2086738578,2847246203,"['Action', 'Adventure', 'Fantasy', 'Sci-Fi']",2 hr 42 min,PG-13
3,3,Black Panther (2018),"T'Challa, heir to the hidden but advanced king...",Walt Disney Studios Motion Pictures,NaN,700426566,647171407,1347597973,"['Action', 'Adventure', 'Sci-Fi']",2 hr 14 min,NaN
4,4,Avengers: Infinity War (2018),The Avengers and their allies must be willing ...,Walt Disney Studios Motion Pictures,NaN,678815482,1369544272,2048359754,"['Action', 'Adventure', 'Sci-Fi']",2 hr 29 min,NaN

In [ ]:
Counter(df_sf['Movie Info'].str.contains('space', case=False))
# SF 영화 설명에 space를 포함하는 영화의 수 (대소문자 구분 x)

Counter({False: 210, True: 18})

In [ ]:
Counter(df_sf['Movie Info'].str.contains('future', case=False))
# SF 영화 설명에 future를 포함하는 영화의 수 (대소문자 구분 x)

Counter({False: 218, True: 10})

In [ ]:
Counter(df_sf['Movie Info'].str.contains('robot', case=False))
# 영화 설명에 robot를 포함하는 영화의 수 (대소문자 구분 x)

Counter({False: 222, True: 6})

In [ ]:
df_sf_space = df_sf[df_sf['Movie Info'].str.contains('space', case=False)]
df_sf_space.head(3)

,Unnamed: 0,Title,Movie Info,Distributor,Release Date,Domestic Sales (in $),International Sales (in $),World Sales (in $),Genre,Movie Runtime,License
55,55,Transformers: Dark of the Moon (2011),The Autobots learn of a Cybertronian spacecraf...,DreamWorks,"June 29, 2011",352390543,771403536,1123794079,"['Action', 'Adventure', 'Sci-Fi']",2 hr 34 min,PG-13
108,108,Gravity (2013),Two astronauts work together to survive after ...,Warner Bros.,"October 3, 2013",274092705,449100000,723192705,"['Action', 'Drama', 'Sci-Fi', 'Thriller']",1 hr 31 min,PG-13
165,165,WALL·E (2008),"In the distant future, a small waste-collectin...",Walt Disney Studios Motion Pictures,"June 26, 2008",223808164,297503726,521311890,"['Adventure', 'Animation', 'Family', 'Sci-Fi']",1 hr 38 min,NaN

In [ ]:
df_sf_space = df_sf[df_sf['Movie Info'].str.contains('future', case=False)]
df_sf_space.head(3)

,Unnamed: 0,Title,Movie Info,Distributor,Release Date,Domestic Sales (in $),International Sales (in $),World Sales (in $),Genre,Movie Runtime,License
3,3,Black Panther (2018),"T'Challa, heir to the hidden but advanced king...",Walt Disney Studios Motion Pictures,NaN,700426566,647171407,1347597973,"['Action', 'Adventure', 'Sci-Fi']",2 hr 14 min,NaN
122,122,Star Trek (2009),The brash James T. Kirk tries to live up to hi...,Paramount Pictures,"May 6, 2009",257730019,127950427,385680446,"['Action', 'Adventure', 'Sci-Fi']",2 hr 7 min,PG-13
148,148,War of the Worlds (2005),An alien invasion threatens the future of huma...,Paramount Pictures,"June 29, 2005",234280354,369592765,603873119,"['Action', 'Adventure', 'Sci-Fi']",1 hr 56 min,PG-13

In [ ]:
df_sf_robot = df_sf[df_sf['Movie Info'].str.contains('robot', case=False)]
df_sf_robot.head(3)

,Unnamed: 0,Title,Movie Info,Distributor,Release Date,Domestic Sales (in $),International Sales (in $),World Sales (in $),Genre,Movie Runtime,License
165,165,WALL·E (2008),"In the distant future, a small waste-collectin...",Walt Disney Studios Motion Pictures,"June 26, 2008",223808164,297503726,521311890,"['Adventure', 'Animation', 'Family', 'Sci-Fi']",1 hr 38 min,NaN
166,166,Big Hero 6 (2014),A special bond develops between plus-sized inf...,Walt Disney Studios Motion Pictures,"October 25, 2014",222527828,435341858,657869686,"['Action', 'Adventure', 'Animation', 'Comedy',...",1 hr 42 min,PG
367,367,Terminator 3: Rise of the Machines (2003),A machine from a post-apocalyptic future trave...,Warner Bros.,"July 2, 2003",150371112,283000000,433371112,"['Action', 'Sci-Fi']",1 hr 49 min,R